
header {
    border-bottom: 1px solid black;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    color: #49A37B;
    display: flex;
    margin-top: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
}
.introduction-icons{
    text-align: justify;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.menu{
    display: flex;
    margin-top: 20px;
}